body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
}

a.nav__link:hover {
  color: #ffffff;
}
.nav-container {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  line-height: 50px;
  color: #9d9d9d;
  background-color: #373277;
  height: 50px;
}

.menu {
  float: left;
}

.site-content {
  padding-top: 66px;
  padding-left: 2%;
}

.form-field-wrapper {
  margin-bottom: 15px;
}

.form__input {
  padding: 4px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.submit-button {
  padding: 5px;
  background-color: #373277;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 0.8em;
  cursor: pointer;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 15px 10px;
  align-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.gallery-heading {
  text-align: center;
  padding-bottom: 15px;
}
