body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3vw;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  padding: 0 1vw;
}

a.nav__link:hover {
  color: #ffffff;
}

.nav-container {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  line-height: 4vw;
  color: #9d9d9d;
  background-color: #373277;
  height: 4vw;
}

.menu {
  float: left;
}

.site-content {
  padding-top: 4vw;
  padding-left: 2%;
}
